*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
    

}
.navbar__brand{
    width: 100px;
}

.brand__logo{
    width: 100%;
}
.navbar__nav__items{
    display: flex;

}
.button_primary
{
    background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    margin: 10px;
    padding: 8px 16px;
    text-align: center;
    transition: 0.5s;
    font-weight: 600;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px red;
    border-radius: 4px;
    display: block;
}
.button_primary:hover
{
    background-position: right center;
}

.hero__image__container{
    position: relative;
    width: 100%;
}

.hero__image{
    position: absolute ;
    width: 100%;
    right: auto;
    left: auto;
    z-index: 2;
    border-radius: 10px;
}
.hero__image__shape{
    position: absolute;
    width: 100%;
}

.hero__text{
    font-size: 1.8rem;
    line-height:2.25rem;
    font-weight: 900;

}
.hero__container{
    margin-top: 1rem;
}
.container{
    padding: 0px 20px;
    
}
.video__footage__container{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.video__footage{
    position: relative;
    
}
.video__footage::before
{
    
    background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    content: "";
    top: 0px;
    left: 0px;
    position: absolute;
    transform:translate(1rem , 1rem);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.video__footage__text{
    margin-top: 2rem;
    
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
}
.food__list__container{
    position: relative;
    margin: 5rem 0;
}
.food__menu__card__list{
    width: 100%;
}
.food__menu__card__image{
    border-radius: 6px 6px 0px 0px;
    width: 100%;
}
.food__menu__card__details{
    padding: 0.5rem;
    text-align: left;
    color: black;
    padding-bottom: 2rem;
    
}
.food__menu__card__title{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: bold;
    

}
.transi{
    display: flex;
    background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: white;
    
    padding: 10px;
    justify-content: center;
    font-size: 15px;
    border-radius: 3px;
}
.restaurant__list__images__container{
    margin-top: 3rem;
}
.restaurant__list__row1{
    
    display: flex;
    align-items: baseline;
}

.restaurant__list__row2{
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
}
.restaurant1, .restaurant3{
    border-radius: 5px;
    margin: 0 5px;
    width: 150px;
    height: 80px;

}
.restaurant2, .restaurant4{
    border-radius: 5px;
    margin: 0 5px;
    width: 200px;
    height: 100px;
}
.footer{
    background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    width: 100%;
    height: 100px;
    margin-top: 20px;
}
@media (min-width:1200px){
    .navbar{
        padding: 0 3rem;
    }
    .button_primary{
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    .hero__container{
        display: flex;
        flex-direction: row-reverse;
       
        align-items: center;
        padding: 30px;
    }
    .hero__image{
        margin: 2rem;
        padding-right: 2rem;
        
    }
    .hero__text{
        font-size: 2.5rem;
        line-height: 3rem;
        

    }
    .container{
        padding: 0px 40px;
        
    }
    .video__footage__text{
        width: 60%;
    }
    .food__list__container{
        position: relative;
        margin: 5rem 0;
    }
    .food__list__container{
        position: relative;
        margin: 5rem 0;
    }
    .food__menu__card__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 2rem;
    }
    .food__menu__card{
        flex-basis: 30%; 
        background-color: white;
        border-radius: 6px;
    }
    .food__list__container__diagonal{
        background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -3;
        transform: skewy(-5deg);
        height: 100%;
        width: 100%;
    }
    .food__list__viewmore{
        color: white;
        font-weight: 700;
        text-align: center;
        width: 100%;
        margin-top: 40px;
        padding-bottom: 50px;
        

    }
    .transi:hover{
        
        transform: scale(1.2);
        
        margin-left: 30%;
        margin-right: 30%;
        background-color: rgb(252, 252, 252);
        color: rgb(255, 38, 0);
    }
    .transi{
        display: flex;
        justify-content: center;
        margin-left: 45%;
        margin-right: 45%;
        border-radius: 20px;
        transition-duration: 0.4s;
        background: none;
        font-size: 20px;
        
        
    }

.restaurant__list__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.restaurant__list__row1{
    justify-content: center;
    padding-right: 100px;
}
.restaurant__list__row2{
    margin-top: 3px;
    align-items: flex-start;
    justify-content: center;
    padding-right: 100px;
}
.text-x2{
    font-size: 60px;
    padding-left: 40px;
    padding-top: 60px;
}
.footer{
    background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    width: 100%;
    height: 100px;
}
    
}